@import "../../sass/index.scss";

.Login {
  @extend %container;
  padding-top: $space-2;

  // overflow: auto;
  nav {
    .button {
      color: $black;
      margin: 0;
    }
  }

  h2 {
    text-align: center;
  }
}