@import "../../sass/index.scss";

.Login {
    min-height: 97.52vh;
    overflow: auto;
    nav  {
        .button {
            color: $black;
            margin: 0;
        }
    }
    h2 {
        text-align: center;
    }
}