@import "../../sass/index.scss";

.SignupForm {
	margin-top: $space-1;
	display: flex;
	justify-content: center;
	align-items: center;

	form {
		width: 35%;
		padding: $space-6;
		.green {
			@include button-style($white, $green);
		}
	}

}

@media screen and (max-width: 800px) {
	.SignupForm {
		margin-top: $space-5;

		form {
			width: 90%;
		}
	}

}